.logo{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.logo img{
    height: 70px;
}
header h1{
    font-family: sans-serif;
    padding-left: 10px;
}
a{
    text-decoration: none;
}
nav a{
    color: white;
    font-family: sans-serif;
    font-weight: 530;
    font-size: 20px;
}
nav a:hover{
    color: brown;
}